:root {
    --main-background:#7f8992;
    --card-background: #959da4;
    --selected-card-color: #7c96a1;
    --selected-route-color: #76adbc;
    --bottom-nav-color: #686f76;
  }

body{
      height: 100vh !important;
      background: var(--main-background);
  }

button{
    background-color: var(--selected-card-color);
    border: #e1e7e9;
}

.card{
      background: var(--card-background);
      border: 0.4px solid #b1b7bc;
  }

 .bottom-nav{
     background: var(--bottom-nav-color);
 }
 .routing{
     border-right: 1px solid #b1b7bc;
 }
.time-card{
    height: 20vh;
}
 .weather-card{
     height: 40vh;
     background-image: url('images/clouds.jpg');
 }

 .card-header-title{
     color: white;
 }

 .music-detail{
    border-bottom: 0.4px solid #b1b7bc;

 }

 .configs{
     height: 25vh;
 }

 .album-name{
     font-weight: lighter;
     color: #ffffff;
 }

 .artist-name{
    color: #ffffff;
 }

 .media-control{
     background:#a6adb5;
 }

 .home-footer{
    color: #74adb6;
    border-top:2px solid #74adb6;
 }